.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
  
  
  .logo {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .nav {
    
    a {
      display: inline-block;
      margin-inline: 2rem;
      text-transform: capitalize;
      padding: .75rem;
      
      .active {
        border-block-end: 1px solid red;
      }
    }
  }
}