<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>create</title>
</head>
<body>
<div id="create">
<form class="form" method="POST" action="/gym">
<label class="title">
<span>title</span>
<input type="text" name="title" required />
</label>
<label class="title">
<span>preps</span>
<input type="number" name="title" required />
</label>
<label class="title">
<span>load</span>
<input type="number" name="title" required />
</label>
<button class="btn" type="submit">submit</button>
</form>
</div>
</body>
</html>