<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>hyde's gym</title>
</head>
<body>
<div id="gym">
<h1>workouts</h1>

<ul>
<% workouts.forEach(workout => {
%>
<li>workout: <% workout.title %></li>
<li>load: <% workout.load %></li>
<li>preps: <% workout.preps %></li>
<%
})%>
</ul>
</div>
<script type="module" src="/src/main.jsx"></script>
</body>
</html>